
<div class="container">
  <h2></h2>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div id="imaginary_container">
        <div class="input-group stylish-input-group">
          <input type="text"  [(ngModel)]="searchTerm"  class="form-control"  placeholder="Search" >
          <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <h2></h2>
  <table class="table">
    <thead>
    <tr class="danger">
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
      <tr style="height:20px;" *ngFor="let hike of hikes | hikeFilter: searchTerm" class="{{hike.cssClass}}">
        <td>{{hike.id}}</td>
        <td><a [routerLink]="['/hikes', hike.id]">{{hike.name}}</a> </td>
        <td>{{hike.description}}</td>
      </tr>
    </tbody>
  </table>
</div>


