<p></p>
<h2>Hikes Panels</h2>
<div class="container">
  <h2></h2>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div id="imaginary_container">
        <div class="input-group stylish-input-group">
          <input type="text"  class="form-control" placeholder="Search" [(ngModel)]="searchTemplate"
          #fieldtest="ngModel"
          >
          <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
        </div>
      </div>
    </div>
  </div>
</div>

<p></p>

<div *ngFor="let hike of hikes | hikeFilter: searchTemplate" class="container">
	<mga-sum [hike]="hike"></mga-sum>
</div>



